$color: #FF9800

\:root
    --mdc-theme-primary: $color

body
    margin: 0
    background-color: #3D2C52
    font-family: 'Roboto', 'Google Sans', sans-serif

.themed
  color: $color !important

td
    margin-top: 30px
    margin-bottom: 10px

.chat-window
    width: 100%

.bubble
    max-width: 300px
    background-color: #B38BE4
    padding: 16px
    border-radius: 8px
    color: rgba(0,0,0,0.7)
    float: right
    animation: msg .25s linear
    margin-bottom: 5px
    padding: 10px
    transform: scale(1,1)

h1
  color: #FDFDFE
  text-align: center
  font-size: 34px

h2
  color: #FDFDFE
  text-align: center
  font-size: 12px


.query
    padding: 5px 0px
    background-color: white
    z-index: 999
    position: fixed
    width: 100%
    bottom: 0

.queryForm
  border: 0
  width: 100% - 20%
  margin-left: 60px
  font-size: 16px
  outline: none
  color: rgba(0,0,0,0.8)
  font-weight: 500

  @media screen and (max-width: 320px)
    width: 100% - 35%

.bubble.bot
  background-color: white
  float: left
  animation: msg .25s linear
  margin-right: 10px
  margin-bottom: 45px
  padding: 10px
  transform: scale(1,1)
